.cart-container {
  display: flex;
  background-color: white;
  height: max-content;
  padding: 20px;
}
.add-img {
  width: 100%;
  margin-bottom: 10px;
}
.cart-title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}
.row-right {
  margin: 20px;
  border: 1px solid lightgrey;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}
