.navbar {
  background-color: #1f2731 !important;
  color: white;
  align-items: center;
  position: sticky !important;
  top: 0 !important;
  z-index: 100 !important;
}
.header-logo {
  width: 100px !important;
  margin: 0px 20px !important;
  height: 50px !important;
  margin-top: 10px !important;
}
.link-items {
  display: flex !important;
  flex-direction: column !important;
  margin-right: 20px !important;
  margin-left: 10px !important;
  margin-top: 10px !important;
  text-decoration: none !important;
  color: white;
}
.option-one {
  font-size: 10px !important;
}
.option-two {
  font-size: 13px !important;
  font-weight: bold !important;
}
.form-inline {
  display: flex !important;
  flex: 1 !important;
}
